Pettorale;tbl_pettorale
Categoria2;pg_barca&pg_cate&pg_sex
Categoria;Categoria_int
Sex;tbl_sex
Nazione;tbl_nazione
id_squadra;id_squadra
Acqua;tbl_corsia
Batteria;id_batteria
Atleta1;1
Atleta2;2
Atleta3;3
Atleta4;4
Atleta5;5
Atleta6;6
Atleta7;7
Atleta8;8
Atleta9;9